*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.3px;
    user-select: none;
    scroll-behavior: smooth;
    flex-wrap: wrap;
}

.sectionContainHeaderandSectionOne{
    background-color: #736AFF;
}

@media (max-width: 580px) {
    .sectionContainHeaderandSectionOne{
        width: 580px;
    }
}

/* body */
body::-webkit-scrollbar{
    width: 0px;
}

/* header */
.header{
    position: fixed;
    width: 100%;
    background: linear-gradient(to right, #efefef, #dfdfdf);
    z-index: 100;
    border-top: 2px solid #736AFF;
}
.header1{
    display: none;
}
.header-navBar{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}
.header-title{
    font-size: 20px;
    animation: slideFromLeftOne 0.5s ease-in-out;
}
@keyframes slideFromLeftOne {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.header-title span{
    color: #5b28d3;
}
.header-nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    animation: slideFromRight 0.5s ease-in-out;
}
@keyframes slideFromRight {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.header-nav-ul li{
    padding: 0px 15px;
}
.header-nav-ul li a{
    text-decoration: none;
    color: rgba(0,0,0.4);
    font-size: 13px;
    text-transform: uppercase;
}
.header-nav-ul li a:hover{
    color: #5b28d3;
}

@media (max-width:580px){
    *{
        object-fit: cover;
        object-position: center;
    }
    .header{
        border-bottom: 1px solid #dddddd;
    }
    .header-title{
        position: absolute;
        font-size: 22px;
    }
    .header-nav{
        display: none;
    }
    .header-navBar{
        height: 35px;
    }
    .header1{
        display: block;
        position: fixed;
        width: 100%;
        height: 40px;
        z-index: 101;
        bottom: 0;
        background: linear-gradient(to right, #efefef, #dfdfdf);
    }
    .header-nav1{
        width: 100%;
        position: absolute;
        z-index: 10001;
        height: 100%;
    }
    .header-nav-ul1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    .header-nav-ul1 li{
        padding: 0px 15px;
    }
    /* .header-nav-ul1 li a{
        text-decoration: none;
        color: rgba(0,0,0.4);
        font-size: 11px;
        text-transform: uppercase;
    } */
    .home a img,
    .about a img,
    .edu a img,
    .skill a img,
    .info a img{
        width: 25px;
        color: #000;
    }
}

/* section One */
.sectionOneContainer{
    background: linear-gradient(to right, #efefef, #dfdfdf);
    width: 100%;
    min-height: 100vh;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 31% 66%, 0 76%, 0% 50%);
}
.sectionOneMyself{
    width: 50%;
    min-height: 85vh;
    margin: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 70px;
    animation: slideFromLeftTwo 1.5s ease-in-out;
}
@keyframes slideFromLeftTwo {
    0%{
        opacity: 0;
        transform: translateX(-1500px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.sectionOnetext{
    font-size: 15px;
    text-transform: uppercase;
}
.sectionOneName{
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
    color: rgba(0,0,0,0.9);
}
.sectionOneName span{
    color:#5b28d3;
}
.sectionOneCarrier span{
    font-weight: 600;
    font-size: 19px;
    color: #5b28d3;
}
.sectionOneBtn{
    position: relative;
}
.sectionOneBtn button{
    position: absolute;
    border: none;
    outline: none;
    background-color: #dfdfdf;
    text-transform: uppercase;
    border-left: 1px solid #736AFF;
    cursor: pointer;
    padding: 10px 0px;
    transition: .5s;
}
.sectionOneBtn button a{
    padding: 10px 27px;
    text-decoration: none;
    color: #000;
    transition: .5s;
}
.sectionOneBtn button .user{
    font-size: 15px;
}
.sectionOneBtn button a:hover{
    background-color: #736AFF;
    color: #ececec;
    transition: .5s;
}
.sectionOneSocial{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    right: 0;
    z-index: 190;
}
.sectionOneSocial i{
    padding: 50px 0;
    font-size: 20px;
    color: #5b28d3;
    width: 30px;
    height: 30px;
    transition: .5s;
}
.sectionOneSocial i:nth-child(1):hover,
.sectionOneSocial i:nth-child(2):hover,
.sectionOneSocial i:nth-child(3):hover{
    font-size: 23px;
    transition: .5s;
}

@media (max-width: 580px) {
    .sectionOneContainer{
        width: 580px;
    }
    .sectionOneMyself{
        line-height: 20px;
    }
    .sectionOneMyself h3{
        font-size: 14px;
    }
    .sectionOneMyself h2{
        font-size: 19px;
    }
    .sectionOneMyself h2 span{
        font-size: 23px;
    }
    .sectionOneMyself .animate{
        font-size: 17px;
    }
    .sectionOneMyself p{
        font-size: 16px;
    }
    .sectionOneBtn button{
        padding: 4px 0px;
        transition: .5s;
        margin: 15px 0;
    }
    .sectionOneBtn button a{
        padding: 6.5px 10px;
        text-decoration: none;
        color: #000;
        transition: .5s;
        font-size: 13px;
        font-weight: 600;
    }
    .sectionOneBtn button a:active{
        background-color: #736AFF;
        color: #ececec;
    }
    .sectionOneBtn button a:hover{
        background-color: #dfdfdf;
        color: #000;
    }
    .sectionOneBtn button .user{
        font-size: 13px;
    }
    .sectionOneSocial{
        display: none;
    }
}


/* Section Two */
#sectionAbout{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.sectionAboutHeader{
    position: absolute;
    top: 10%;
    font-size: 25px;
    border-bottom: 1px solid #736AFF;
}
.sectionAboutContainer{
    margin: auto;
    width: 90%;
    min-height: 100vh;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionAboutDetails label{
    font-weight: 900;
    text-transform: uppercase;
}
.sectionAboutDetails span{
    font-size: 20px;
    text-transform: uppercase;
}
.resume .downloadBtn{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-left: 2px solid #736AFF;
    transition: .5s;
    color: rgba(0,0,0,0.8);
    margin-right: 15px;
}
.resume .downloadBtn a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: .5s;
}
.resume .downloadBtn:hover{
    transform: translateY(8px);
    transition: .5s;
}
.resume .downloadBtn1{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-left: 2px solid #736AFF;
    transition: .5s;
    color: rgba(0,0,0,0.8);
    margin-right: 15px;
}
.resume .downloadBtn1 a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: .5s;
}
.resume .downloadBtn1:hover{
    transform: translateX(8px);
    transition: .5s;
}

@media (max-width:580px) {
    #sectionAbout{
        width: 580px;
    }
    .sectionAboutContainer{
        margin-top: 60px;
    }
    .sectionAboutDetails label{
        font-size: 19px;
        font-weight: 900;
        text-transform: uppercase;
    }
    .sectionAboutDetails span{
        font-size: 20px;
        text-transform: uppercase;
    }
    .downloadBtn,
    .downloadBtn1{
        padding: 10px 15px;
        font-size: 13px;
    }

}

/* Section Education */

#sectionEducations{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.sectionEducationsHeader{
    position: absolute;
    top: 10%;
    font-size: 25px;
    border-bottom: 1px solid #736AFF;
}
.sectionEducationsContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionEducationInSchool{
    width: 500px;
    height: 150px;
    background-color: #ececec;
    padding: 0px 10px;
    margin: 20px 10px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
    box-shadow: inset .5px .5px 5px rgba(0,0,0,0.05);
    transition: .5s;
}
.sectionEducationInSchool:hover{
    transform: translateY(-10px);
    transition: .5s;
}
.sectionEducationInSchool h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid #736AFF;
    width: 90%;
    margin: auto;
}
.sectionEducationInSchoolTxt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sectionEducationInSchoolTxt h4{
    padding: 10px 0;
    text-align: start;
}

@media (max-width: 1056px){
    #sectionEducations{
        min-height: 125vh;
    }
}
@media (max-width:580px){
    #sectionEducations{
        width: 580px;
    }
    .sectionEducationsContainer{
        margin-top: 80px;
    }
    .sectionEducationInSchool h3{
        font-size: 17px;
    }
    .sectionEducationInSchoolTxt h4{
        font-size: 16px;
    }
    .sectionEducationInSchoolTxt p{
        font-size: 14px;
    }
}

/* Section Skills */

#sectionSkills{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectionSkillsHeader{
    position: absolute;
    top: 10%;
    font-size: 25px;
    border-bottom: 1px solid #736AFF;
}
.sectionSkillsContainer{
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 60px;
}
.SkillSets{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SkillSets h3:nth-child(2){
    margin-left: 50px;
    color: #5b28d3;
    transition: .2s;
}
.SkillSets h3:nth-child(2):hover{
    font-size: 24px;
    transition: .2s;
}
.skillSetsLevel{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skillSetsLevel .rangeBar{
    position: relative;
    width: 50%;
    background-color: #ececec;
    height: 3px;
}
.rangeBar input{
    position: absolute;
    width: 80%;
    -webkit-appearance: none;
    height: 100%;
    border-radius: 10%;
    background-color: #262626;
}
.skillSetsLevel input::-webkit-slider-thumb{
    -webkit-appearance: none;
}
.rangeBar .sliderRange2{
    width: 70%;
}
.rangeBar .sliderRange3,
.rangeBar .sliderRange6{
    width: 60%;
}
.rangeBar .sliderRange4{
    width: 40%;
}
.rangeBar .sliderRange5{
    width: 80%;
}
.rangeBar .sliderRange7{
    width: 45%;
}

@media (max-width:580px) {
    #sectionSkills{
        width: 580px;
    }
    .sectionSkillsContainer{
        line-height: 50px;
    }
}

/* Section Contact */

#sectionContact{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    overflow: hidden;
}
.sectionContactContainer{
    position: relative;
    margin-top: 50px;
    width: 70%;
    height: 500px;
    background-color: #3D3D3D;
    padding: 30px;
    display: flex;
    align-items: center;
}
.contactInfo{
    position: absolute;
    width: 300px;
    height: 350px;
    background-color: #736AFF;
    transform: translateX(-50%);
    padding: 10px 15px;
    overflow: hidden;
}
.contactInfo h2{
    color: white;
}
.contactInfo h2 span{
    color: rgb(241, 205, 86);
}
.contactDetails{
    display: flex;
    padding: 30px 0;
}
.contactDetails label{
    font-size: 13px;
    line-height: 40px;
    color: white;
}
.contactDetails label i{
    color: black;
    font-size: 17px;
    padding-right: 10px;
}
.contactDetails .add{
    line-height: 30px;
}

.contactMsg{
    position: absolute;
    left: 50%;
    line-height: 50px;
    width: 450px;
    transform: translateX(-50%);
}
.contactMsg .contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contactMsg .contact h3{
    color: #ececec;
    font-size: 15px;
    text-transform: uppercase;
}
.contactMsg .contact input{
    padding: 5px 8px;
    width: 300px;
    outline: none;
    font-weight: 500;
    font-size: 13px;
}
.contactMsg .contact input:placeholder-shown{
    font-size: 12px;
}
.contactMsg .contact textarea:placeholder-shown{
    font-size: 12px;
}
.contactMsg .contact textarea{
    padding: 5px 8px;
    width: 500px;
    outline: none;
    font-weight: 500;
    font-size: 13px;
}
.contactMsg .contactBtn{
    text-align: right;
    margin-top: 10px;
}
.contactMsg .contactBtn button{
    border: none;
    outline: none;
    padding: 8px 25px;
    border-left: 3px solid #5b28d3;
    transition: .3s;
}
.contactMsg .contactBtn button:hover{
    background-color: #736AFF;
    color: white;
    transition: .3s;
}
.sectionOneSocialFooter{
    display: none;
}

@media (max-width: 1168px){
    .sectionContactContainer{
        position: relative;
        margin-top: 100px;
        width: 90%;
        padding: 20px;
    }
    .contactInfo{
        position: absolute;
        top: -13%;
        left: 50%;
        width: 500px;
        height: 150px;
        transform: translateX(-50%);
        padding: 10px 15px;
    }
    .contactInfo .phone{
        margin-left: 40px;
    }
    .contactDetails{
        display: flex;
        padding: 3px 0;
    }
    .contactMsg{
        position: absolute;
        line-height: 45px;
        left: 50%;
        top: 50%;
        width: 400px;
        margin: auto;
        transform: translate(-50%, -50%);
        margin-top: 20px;
    }
    .contactMsg .contact input{
        width: 250px;
        outline: none;
        font-weight: 400;
        font-size: 13px;
    }
}
@media (max-width: 580px){
    #sectionContact{
        width: 580px;
    }
    .contactInfo{
        position: absolute;
        top: -13%;
        left: 50%;
        width: 430px;
        height: 130px;
        transform: translateX(-50%);
        padding: 10px 15px;
    }
    .contactInfo h2{
        font-size: 17px;
    }
    .contactInfo .phone{
        margin-left: 20px;
    }
    .contactDetails label{
        font-size: 12px;
        line-height: 23px;
    }
    .contactDetails{
        margin-top: 10px;
    }
    .contactDetails .add{
        line-height: 20px;
    }
    .contactMsg{
        width: 350px;
    }
    .contactMsg .contact input{
        width: 220px;
    }
    .contactMsg .contactBtn button:active{
        background-color: #736AFF;
    }
    .sectionOneSocialFooter{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 580px;
        height: 70px;
        background-color: #ececec;
    }
    .sectionOneSocialFooter a{
        font-size: 23px;
    }
    .sectionOneSocialFooter a i{
        color: #262626;
    }
    .spacing{
        margin-bottom: 40px;
    }
}
